h2 Signup to hear the latest updates
form#newsletter-signup-form(action="", method="POST")
  .form-group
    label(for="email") Your Email
    input.form-control(type="text", name="email")

  .form-group
    button.btn.btn-lg(type="submit") Signup Right Now
