@tablet: 768px;
@medium: 992px;
@large: 1200px;

@body-bg: #eee;

body {
    background-image: url('/img/bg/evening.jpg');
    background-color: @body-bg;
}

section {
    padding-top: 6em;
    padding-bottom: 4em;
}
