@tablet: 768px;
@medium: 992px;
@large: 1200px;

@body-bg: #eee;

@white: #eee;
@landing-page-color: @white;

@green: #0ea258;
@btn-action: @green;

@blue-alpha: rgba(64, 167, 242, 0.6);
@blue-fallback: #40a7f2;



@import 'components';

body {
    background-image: url('/img/bg/evening.jpg');
    background-color: @body-bg;
}

section {
    padding-top: 6em;
    padding-bottom: 4em;
}

.landing-page {
    color: @landing-page-color;
    font-size: 1.4em;

    .copy {
        background-color: @blue-fallback;
        background-color: @blue-alpha;
    }
}
