.btn-action {
  background-color: #0ea258;
}
body {
  background-image: url('/img/bg/evening.jpg');
  background-color: #eeeeee;
}
section {
  padding-top: 6em;
  padding-bottom: 4em;
}
.landing-page {
  color: #eeeeee;
  font-size: 1.4em;
}
.landing-page .copy {
  background-color: #40a7f2;
  background-color: rgba(64, 167, 242, 0.9);
  border-radius: 15px;
  padding: 1em;
}
