extends layouts/base
block body
  section.landing-page
    .container
      .row
        .col-sm-8.col-sm-offset-2
          img.img-responsive.logo(src="/img/logo.png", alt="BitPal Logo")

      .row
        .col-sm-8.col-sm-offset-2.text-right
          h1 BitPal

          p.lead.
            Where Nashville uses Bitcoin.

          p.
            Sign up to hear the latest!


          include includes/forms/newsletter-signup
