extends layouts/base
block body
  section
    .container
      .row
        .col-sm-4
          img.img-responsive.logo(src="/img/logo.png", alt="BitPal Logo")

        .col-sm-8
          h1 BitPal BRUH

          p.lead.
            What's up fuckers this is BitPal. Use it to hold your
            wallet and we offer local Escrow services in Nashville.

          p.
            Signup for our newsletter to hear about whatever it is
            we're actually fucking doing, cause honestly we're not
            quite sure, but we like you and want you to hang out
            with us.


          include includes/forms/newsletter-signup

